<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css" rel="stylesheet" type="text/css" media="all"/>
  <link href="/default.css" rel="stylesheet" type="text/css" media="all"/>
  <link rel="icon" href="/favicon-192x192.png" sizes="192x192" type="image/png">
  <link rel="icon" href="/favicon.ico">
</head>
<body class="locked">
  <div class="container main">
    <div id="result" class="markdown-body">
    </div>
  </div>
  <div class="loading-overlay"></div>
  <div class="loader"></div>
  <script>
    window.onload = () => 
      fetch('<%= url %>', {
        method: 'GET',
        mode: 'cors'
      })
      .then(response => response.json())
      .then(json => {
        document.querySelector('#result').innerHTML = '<h1><%= title %></h1>' + json.message
        document.querySelector('body').classList.remove('locked')
        document.querySelector('.loading-overlay').style.display = 'none'
        document.querySelector('.loader').style.display = 'none'
      })
  </script>
</body>
</html>
